<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">  
     <bean id="stuService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">  
        <property name="serviceUrl" value="rmi://www.pt1.com:8090/stuService" />  
        <property name="serviceInterface"  
            value="com.pt.service.StuService" />  
    </bean>  
    <bean id="RootService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">  
        <property name="serviceUrl" value="rmi://www.pt1.com:8090/rootService" />  
        <property name="serviceInterface"  
            value="com.pt.service.RootService" />  
    </bean>  
    <bean id="CareerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">  
        <property name="serviceUrl" value="rmi://www.pt1.com:8090/careerService" />  
        <property name="serviceInterface"  
            value="com.pt.service.CareerService" />  
    </bean>  
    </beans>  